@font-face {
    font-family: Sequel ;
    src: url(../font/sequel-sans-heavy-disp.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

    font-family: Sequel;
    /* font-family: "Poppins", sans-serif; */
    /* color: var(--txt-principal); */
}

::-webkit-scrollbar {
    /* background: transparent; */
    background: var(--main-color);
}

::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 20px;
    background: var(--secondy-main-color);
    /* background: linear-gradient(45deg, #8a03ff,#401664, #401664, #401664 ); */
}

:root {
    --txt-principal: white;
    --txt-secondary: rgb(104, 104, 104);
    --main-color: #c6f91f;
    --secondy-main-color: #401664;
    --sec-main-color-bright: #8a03ff;
}

html {
    scroll-behavior: smooth;
}

body {
    background: black;
    font-family: sequel;
}

/* HEADER */
.logo {
    width: 80px;
    margin-left: 5rem;

    transition: all 0.3s;
    /* margin: 0 5rem; */
}

.logo:hover {
    transform: scale(1.1);
}

.logo-header-li {
    margin-left: 26rem;
}

.top-header {
    padding: 8px;

    z-index: 100;
    display: flex;
    align-items: center;
    width: 100%;

    /* position: absolute; */
    position: fixed;
    justify-content: center;
    font-size: 12px;
    /* width: 80%; */
    gap: 10rem;
/* 

    top: 0;
    left: 50%;
    transform: translateX(-50%); */

    border-radius: 20px;

    /* box-shadow: 0 2px 40px rgba(37, 3, 33, 0.792); */
    /* right: 50%; */

    

    /* padding: 1rem 5rem 1rem 10rem; */
    /* gap: 30rem; */
    /* justify-content: space-between; */
    background: transparent;
    /* background: #4c146c39; */
    /* background: rgba(0, 0, 0, 0.044); */
    /* background: #acfc04; */
    /* background: rgba(255, 255, 255, 0.022); */
    /* background: blue; */
    /* background: rgba(0, 0, 0, 0.142); */
}

.top-header > nav > ul > li > .home-link {
    border-bottom: 3px solid var(--main-color);
    border-radius: 3px;
}

.top-header nav ul {
    display: flex;
    align-items: center;
    /* text-transform: uppercase; */
    gap: 70px;
    /* margin-left: 10rem; */
}

.top-header > nav > ul {
    margin-left: 4rem;
}

.top-header nav ul li {
    display: flex;
    align-items: center;

    gap: 4px;
}

.top-header > nav > ul > li > span {
    opacity: 0;
    margin-bottom: 3px;
}

.top-header nav ul li a {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 0 10px;
    


    background: transparent;
    /* color: var(--secondy-main-color); */
    color: rgba(255, 255, 255, 0.479);
    display: inline-block;
    transition: all 0.2s;
    border-bottom: 3px solid transparent;
    border-radius: 3px;

}

/* MIDIA ICONS */

.midia-icons {
    /* margin-right: 45rem; */
    background: white;
    background-clip: text;
    font-size: 30px;
    

    cursor: pointer;
    gap: 25px;
    display: flex;

    border-bottom: 3px solid transparent;
  

    /* border-radius: 3px; */

}

.midia-icons .bx {
    font-size: 30px;
    /* gap: 15px; */
    color: var(--secondy-main-color);
    transition: transform 0.2s;

    display: flex;
    align-items: center;
}

.midia-icons .bx:hover {
    transform: scale(1.2);
    border-bottom: 3px solid var(--secondy-main-color);
    border-radius: 3px;

}

.bxl-instagram:hover {
    /* color: #E1306C;  */
   
}

.bxl-github:hover {
    /* color: #6e5494;  */
}

.bxl-facebook:hover {
    /* color: #3b5998;  */
}

.bxl-linkedin:hover {
    /* color: #0077B5;  */
}


/* MIDIA ICONS */

.btn-header {
    background: var(--secondy-main-color);
    color: var(--txt-principal);
   
    margin-right: 28rem;



    padding: 12px 30px;;
    border-radius: 10px;
    border: none;

    font-family: "Poppins", sans-serif;
    font-weight: 600;

    transition: all 0.2s;
}


.btn-header:hover {
    cursor: pointer;
    transform: scale(1.09);
    /* box-shadow: 0px 5px 30px 0px rgba(22, 1, 21, 0.452); */
}

/* LINKS HEADER:HOVER */

.top-header nav ul li .home-link:hover {
    color: var(--txt-principal);
    border-bottom-color: var(--main-color);
    transform: translateY(-2px);
}

.top-header nav ul li .about-link:hover {
    color: var(--txt-principal);
    border-bottom-color: var(--main-color);
    transform: translateY(-2px);
}

.top-header nav ul li .experience-link:hover {
    color: var(--txt-principal);
    border-bottom-color: var(--main-color);
    transform: translateY(-2px);
}

.top-header nav ul li .projects-link:hover {
    color: var(--txt-principal);
    border-bottom-color: var(--main-color);
    transform: translateY(-2px);
}

.top-header nav ul li a:target {
    border-bottom: 3px solid var(--main-color);
}


/* /LINKS HEADER:HOVER */

/* /HEADER */

/* MAIN */

.bg-main {
    overflow: hidden;

}

.main-principal {
    padding: 1rem 20rem;
    height: 720px;
    position: relative;
    z-index: 99;


    /* background: url(../assets/bg-site-att-2.jpg); */
    background: url(../assets/bg-site-att-3.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

}


.purple-star {
    animation: float 5s ease-in-out infinite;
    width: 50px;
    position: absolute;
    z-index: 99;
    opacity: 100%;
    top: 450px;
    right: 220px;
    
}

.green-star {
    width: 50px;
    position: absolute;
    z-index: 99;
    /* opacity: 100%; */
    top: 20px;
    right: 602px;

   

}

.green-star-2 {
    width: 40px;
    position: absolute;
    /* z-index: 99; */
    /* opacity: 100%; */
    top: 305px;
    right: 745px;
}

/* .white-star {
    width: 35px;
    position: absolute;
    top: 350px;
    right: 630px;

    /* opacity: 80%; */
    /* z-index: 99; */
/* } */

/* .main-txt-all { */
    /* position: absolute;
    margin-bottom: 5rem;
    margin-right: 60rem; */
    /* padding: 0 0 0 50rem; */
    /* margin-left: rem; */
    /* line-height: 1; */

/* } */

.main-txt-all {
    display: flex;
    flex-direction: column;
    margin-bottom: 9rem;
    margin-right: 400px;
    color: var(--txt-principal);

}

.txt-greet {
    font-family: "poppins";

    font-size: 20px;
    white-space: nowrap;
    font-weight: 200;

    margin-top: 210px;
}

.main-principal > .main-txt-all > .txt-greet > strong {
}

.main-txt-all .main-title {
    font-size: 75px;

    line-height: 0.8;
    letter-spacing: 1px;
}



.main-txt-all .main-subtitle {
    font-size: 65px;
    font-family: "Poppins";
    font-weight: 700;
    line-height: 0.8;


    color: transparent;
    /* background: linear-gradient(170deg, white, #c6f91f); */
    /* background: radial-gradient(circle at top, #00d9ff, #c6f91f ,rgba(0, 242, 255, 0.844)); */
    background-image: radial-gradient(circle, #c6f91f, #00ffae,#abfbfb);

    height: 80px;
    background-clip: text;
    letter-spacing: -4px;
}


.main-img-person-content {
    width: 1000px;


    position: absolute;
    top: 60px;
    left: 1px;
    margin-left: 460px;


    /* position: relative; */
}


 .btn-main {
    animation: float 3s ease-in-out infinite;
    right: 1px;
    white-space: nowrap;
    position: relative;
    text-transform: uppercase;


    cursor: pointer;
    /* position: absolute; */
    
    border: none;
    border-radius: 20px;

    padding: 25px 50px 25px 40px;

    color: var(--secondy-main-color);
    background: var(--main-color);
    z-index: 100;

    transition: all 0.5s;

}

/* .detail-frontend {
    width: 50px;
    top: 323px;
    left: 695px;
    opacity: 20%;

    position: absolute;

} */

.btn-main:hover {
    transform: translateY(-10px);
}

.btn-main-control {
    position: absolute;
    
    margin-top: 405px;
    margin-left: 12rem;
    

}

.material-symbols-outlined {
   position: absolute;
   top: 20px;
   margin-left: 4px;

}

/* .btn-download-cv {
    right: 1px;
    white-space: nowrap;
    position: relative;
    text-transform: uppercase;
    margin: 0 22px;

    cursor: pointer;
    /* position: absolute; */
    
    /* border: 1px solid var(--main-color);
    border-radius: 20px;

    padding: 25px 35px;

    color: var(--main-color);
    background: transparent;
    z-index: 100;

    transition: all 0.5s; */
/* } */


/* .btn-main:hover {
    background: white;
    color: var(--main-color);

} */

.more-information {
    display: flex;
    white-space: now;

    /* position: absolute; */

    width: 100%;
    margin-top: 10rem;
}

.detail-information-o {
    position: absolute;
    font-size: 14px;
    font-weight: 200;
    font-family: "Poppins";
    color: var(--main-color);

    background: rgba(255, 255, 255, 0.055);
    padding: 1rem;
    border-radius: 20px;


    /* opacity: 80%; */
    top: 550px;
    left: 10rem;
}

.detail-information-t {
    font-size: 14px;
    font-weight: 200;
    font-family: "Poppins";
    color: var(--main-color);

    background: rgba(255, 255, 255, 0.055);
    padding: 1rem;
    border-radius: 20px;

    position: absolute;
    font-size: 15px;
    left: 27rem;
    top: 550px;
    /* margin-right: 200px; */
}


/* ABOUT SECTION */

.about-all {
    padding: 20rem;
    background: white;
    color: black;
    z-index: 20;
}

.about-all > span {
    z-index: 99;
    color: black;
    font-size: 50px;
    margin-top: 20rem;

}



/* /ABOUT SECTION */





@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  