@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --txt-principal: white;
    --txt-secondary: rgb(104, 104, 104);
    --main-color: #c6f91f;
    --secondy-main-color: #401664;
    --sec-main-color-bright: #8a03ff;
}


.bg-about {
    background: url(../assets/bg-about-2.jpg);
    background-size: 1400px;
}


.about-all {
    padding: 0 5rem;
    align-items: center;
    display: flex;
    gap: 5.5rem;
    justify-content: center;
    z-index: 98;
    height: 780px;
    /* background: url(../assets/bg-about-2.jpg); */
    
}


.about-txt {
    margin-top: 5rem;
    margin-right: 2rem  ;
    align-self: flex-start;
    gap: 8px;
    /* white-space: nowrap; */
    display: flex;
    flex-direction: column;
}

.about-title {
    letter-spacing: -1px;
    font-weight: 700;

    font-family: 'Montserrat';
    font-size: 45px;
    color: var(--secondy-main-color);
}

.about-info {
    background: rgba(0, 0, 0, 0.010);
    padding: 20px;
    border-radius: 20px;


    white-space: now;
    color: #361d4d;
    line-height: 1.6;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 500;
}

.illustration-img {
    width: 550px;

}

.illustration-img.scrolled {
    width: 750px;
    background: red;
}

.green-star-3 {/* Purple Star */
    position: absolute;
    width: 50px;
    z-index: 99;
    animation: float 3s forwards infinite;

    bottom: 40px;
    left: 1300px;
    right: 200;
}

.green-star-4 {
    position: absolute;
    width: 50px;
    animation: float 3s forwards infinite;

    bottom: 550px;
    left: 780px;
    right: 200;
}

/* SECTION SERVICES */

.bg-services {
    background: url(../assets/bg-services-2.jpg);
    background-size: 1550px;
    
    height: 800px;
    padding: 4rem 10rem;
    z-index: 100;
    

}

.services-all {
    display: flex;
    flex-direction: column;
    /* padding: 0 5rem; */
    align-items: center;
    display: flex;
    gap: 3rem;
    justify-content: center;
    z-index: 98;
    margin-bottom: 1px;
    padding: 1rem;
    /* height: 730px; */
}

.service-txt {
    align-items: center;
    /* white-space: nowrap; */
    display: flex;
    flex-direction: column;
}

.green-star-5 {
    width: 60px;

    animation: float 3s infinite;

    position: absolute;
    left: 875px;
    bottom: -150px;


}

.service-title {
    font-weight: 700;

    /* background: #c6f91f90;
    height: 20px; */



    position: relative;
    /* font-family: poppins; */


    font-family: 'Montserrat';
    font-size: 40px;

    /* color: transparent;
    background: linear-gradient(45deg, white, white, #c6f91f);
    background-clip: text; */
    color: var(--txt-principal);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.service-title::after {
    content: "";
    position: absolute;


    top: 47px;
    bottom: 0px;
    right: 50px;
    left: 50px;
    
    height: 4px; /* Altura da borda */
    border-radius: 30px;
    background-color: var(--main-color);
}

.service-skill {
    font-size: 15px;
    font-family: Poppins;
    /* text-transform: uppercase; */
    font-weight: 800;
    

    color: var(--txt-principal);
    display: flex;
    /* align-self: center; */
    /* line-height: 0; */
}

.cards-service-all {
    color: var(--txt-principal);
    display: flex;
    gap: 2rem;
    font-family: poppins;
    /* perspective: 1000px; */

}

.card-service {
    /* background: rgba(0, 0, 0, 0.171); */
    background: rgba(0, 0, 0, 0.185);
    /* background: linear-gradient(45deg, rgba(0, 0, 0, 0.327), transparent, rgba(255, 255, 255, 0.118)); */
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* transform: rotateY(20deg); */


    cursor: default;
    
    border-top: 1px solid rgba(255, 255, 255, 0.515);
    backdrop-filter: blur(1000px);

    height: 280px;
    width: 250px;
    padding: 50px 20px;
    border-radius: 25px;

    transition: transform 0.3s;
}

.card-service:hover {

    /* box-shadow: 0px 12px 0px rgba(0, 0, 0, 0.374); */
    /* background: linear-gradient(45deg, #380c4c,#380c4c, rgba(255, 255, 255, 0.168)); */
    /* box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.371); */  

    /* border: 2px solid var(--main-color); */
    border-top: 1px solid white;
    transform: scale(1.07);



    /* background: linear-gradient(45deg,rgba(0, 0, 0, 0.186),rgba(0, 0, 0, 0.186), rgba(255, 255, 255, 0.066), rgba(255, 255, 255, 0.378) ); */
    /* box-shadow: -5px 20px 40px rgba(0, 0, 0, 0.57); */

   
    /* background: linear-gradient(45deg, rgba(0, 0, 0, 0.374), transparent, transparent, rgba(255, 255, 255, 0.062)); */
}


.card-txt {
    color: var(--txt-principal);
    font-size: 12px;
    font-weight: 200;
    font-family: "Poppins";
    color: var(--main-color);
}


.card-icon {
    color: var(--main-color);
    font-size: 10000px;
    width: 180px;
    size: 180px;

    margin-bottom: 20px;

}

/* SKILL */

.skill-icons-wrapper {
    margin-top: 2rem;
    /* gap: 2rem; */
    display: flex;
    flex-direction: column;
    
    /* align-items: center; */
    justify-content: center;
}

.skill-txt{
    margin-bottom: 5px;
    /* display: flex; */
    text-transform: uppercase;



    letter-spacing: 3px;
    /* z-index: 100; */
}

.skill-txt > span {
    /* margin-top: 2rem; */
    font-size: 25px;
    margin-left: 20px;

    text-align: right;
    font-weight: 400;

}


.skill-icons {
    gap: 9px;
    display: flex;
    /* display: inline-block; */
    padding: 1rem;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.21);
    border-bottom: 1px solid var(--main-color);
    /* background: rgba(0, 0, 0, 0.074); */

    
}

.skill-icons img{
    transition: all 0.2s;
}

.skill-icons i{
    transition: all 0.1s;
}

.skill-icons i:hover {
    transform: scale(1.7);
    transition: all 0.2s ease-out;
}



.skill-icons img:hover {
    transform: scale(1.7);
    transition: all 0.2s ease-out;
}


/* /SKILL */

/* /SECTION SERVICES */


/* SECTION PROJECTS */

.division {
    margin: 5rem;
    background: black;
    height: 1px;
}


/* .purple-star-6 {
    position: absolute;
    width: 400px;
    height: 400px;

    animation: float 5s infinite;

    left: 800px;
    top: -95px;
} */

.project-title {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: float 5s infinite; */

    /* animation: crescer 1s infinite; */
    margin-top: 1rem;


    font-family: 'Montserrat';
    font-size: 50px;

    color: var(--txt-principal);
    text-transform: uppercase;
    letter-spacing: 2px;

    /* position: relative; */
    /* margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 16rem;

    z-index: 100; */
}


/* .project-title::after {
    content: "";
    position: absolute;


    top: 47px;
    bottom: 0px;
    right: 550px;
    left: 550px;
    
    height: 4px; /* Altura da borda */
    /* border-radius: 30px;
    background-color: var(--main-color); */
/* } */

.bg-project {
    z-index: 1;
    background: url(../assets/bg-projects-3.jpg);
    /* background-size: 1550px; */
    background-size: 1300px;
    /* background: cover; */
    /* background-size: 1300px; */
    height: 1200px;
    padding: 1rem 8rem;
}

.card-project-wrapper {
    /* margin-bottom: 6rem; */

   position: relative;

   align-items: center;
   display: flex;
   gap: 4rem;
   justify-content: center;
   perspective: 900px;

}


.card-project {
   z-index: 100;
    
    /* background: rgba(0, 0, 0, 0.318); */
   background: url(../assets/netflix-bg.png);
   background-size: 290px 250px;
   background-repeat: no-repeat;
   background-position: center;

   width: 290px;
   height: 250px;
   /* animation: float 1s infinite; */

   animation: crescer 2s infinite;
   cursor: pointer;

   transform: rotateY(30deg);
   transition: all 0.3s;


   display: flex;

   box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.71);
   border-radius: 10px;
   opacity: 80%;

}

.card-project:hover {
   transform: rotateY(0deg) scale(1.15) translateY(-7px);
   box-shadow: 0 20px 40px rgba(0, 0, 0, 0.289);
   perspective: none;
   opacity: 100%;

}

.card-project:hover + .txt-project-all {
   /* Propriedades CSS para afetar o elemento .txt-project-all no hover de .card-project */
   /* Por exemplo: */
   transform: rotateY(0deg) translateY(-18px);
   perspective: none;


   opacity: 100%;
}

.card-project:hover + .txt-project-all::after{
   z-index: -1;
   background: linear-gradient(to top left, transparent, rgba(0, 0, 0, 0.204));
   border: 1px solid var(--secondy-main-color);
}

.project-all {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;

}

/* OTHER PROJECT */

#card-2 {
    transform: rotateY(-30deg);

}

#card-2:hover {
    transform: rotateY(0deg) scale(1.05) translateY(-30px);
}

.txt-project-all::after {
   content: "";
   position: absolute;
   z-index: -1;

   border: 1px solid var(--secondy-main-color);
   background: linear-gradient(to top left, transparent, rgba(0, 0, 0, 0.111));
   /* border-top: 1px solid rgb(255, 255, 255);
   background: rgb(0, 0, 0); */
   /* opacity: 10%; */
   /* background: linear-gradient(to right, #130520,#130520, #130520,transparent); */

   height: 300px;
   width: 590px;  
   right: -12px;
   top: -10px;
   backdrop-filter: blur(2px);

   border-radius: 30px;

}


.txt-project-all {
   z-index: 5;
   position: relative;

    display: flex;
    gap: 1rem;
    flex-direction: column;

    transition: all 0.2s;
}

.txt-project-title {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-family: 'Montserrat';
    font-size: 40px;

    /* color: var(--txt-principal); */
   color: var(--secondy-main-color);
   /* color: var(--main-color); */
}

.txt-project-txt {

    white-space: now;
    color: #241235;
    /* color: #8cae1d; */


    line-height: 1.6;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 500;
}


/* .tec-icon {
   position: relative;
} */

/* .tec-icon::after {
   content: "";
   background: rgb(0, 0, 0);
   width: 50px;
   height: 50px;

   z-index: 100;
} */

.tec-icon {
   position: relative;
   z-index: 100;
}

.tec-icon::after {
   content: "";
   position: absolute;
   z-index: -1;

   height: 35px;
   width: 270px;
   left: 1px;
   top: 8px;

   /* background: rgba(0, 0, 0, 0.153); */
   background: #c6f91f23;
   border-radius: 20px;
}


.btn-project-wrapper {
    display: flex;
    gap: 1rem;

}

.btn-project-view {
   background: var(--main-color);
   color: var(--secondy-main-color);
   font-family: poppins;
   font-weight: 600;

   border-radius: 15px;
   border: none;
   outline: none;

   width: 150px;
   height: 50px;

}

.btn-project-github {
   background: transparent;
   border: 1px solid var(--secondy-main-color);
   border-radius: 15px;

   color: var(--secondy-main-color);

   width: 150px;
   height: 50px;
   /* border: none; */
   outline: none;
}

/* /SECTION PROJECTS */
