@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --txt-principal: white;
    --txt-secondary: rgba(61, 65, 67, 0.542);
    --main-color: #c6f91f;
    --secondy-main-color: #401664;
    --sec-main-color-bright: #8a03ff;
}


.bg-about {
    background: url(../assets/bg-about-2.jpg);
    background-size: 1400px;
}

html {
   scroll-behavior: smooth;
}


.about-all {
    padding: 0 5rem;
    align-items: center;
    display: flex;
    gap: 5.5rem;
    justify-content: center;
    z-index: 98;
    height: 780px;
    /* background: url(../assets/bg-about-2.jpg); */
    
}


.about-txt {
    margin-top: 5rem;
    margin-right: 2rem  ;
    align-self: flex-start;
    gap: 8px;
    /* white-space: nowrap; */
    display: flex;
    flex-direction: column;
}

.about-title {
   letter-spacing: -1px;
   font-weight: 700;

   text-shadow: 1px 1px 1px var(--main-color);
   animation: float 3s infinite;

   font-family: 'Montserrat';
   font-size: 45px;
   color: var(--secondy-main-color);
}

.about-info {
    background: rgba(0, 0, 0, 0.010);
    padding: 20px;
    border-radius: 20px;


    white-space: now;
    color: #361d4d;
    line-height: 1.6;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 500;
}

.illustration-img {
    width: 550px;

}


.green-star-3 {/* Purple Star */
    position: absolute;
    width: 50px;
    z-index: 99;
    animation: float 3s forwards infinite;

    bottom: 90px;
    left: 1300px;
    right: 200;
}

.green-star-4 {
    position: absolute;
    width: 50px;
    /* animation: float 3s forwards infinite; */

    bottom: 600px;
    left: 780px;
    right: 200;
}

/* SECTION SERVICES */

.bg-services {
    background: url(../assets/bg-services-2.jpg);
    background-size: 1550px;
    
    height: 800px;
    padding: 4rem 10rem;
    z-index: 100;
    

}

.services-all {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    display: flex;
    gap: 3rem;
    justify-content: center;
    z-index: 98;
    margin-bottom: 1px;
    padding: 1rem;
    
}

.service-txt {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.green-star-5 {
    width: 60px;

    animation: float 5s infinite;

    position: absolute;
    left: 875px;
    bottom: -150px;


}

.service-title {
   font-weight: 700;

   text-shadow: 6px 1px 1px rgb(0, 0, 0);
   animation: float 3s infinite;
   position: relative;


   font-family: 'Montserrat';
   font-size: 40px;

   /* color: transparent;
   background: linear-gradient(45deg, white, white, #c6f91f);
   background-clip: text; */
   color: var(--txt-principal);
   /* text-transform: uppercase; */
   letter-spacing: 2px;
}

.service-title::after {
    content: "";
    position: absolute;


    top: 47px;
    bottom: 0px;
    right: 50px;
    left: 50px;
    
    height: 4px; /* Altura da borda */
    border-radius: 30px;
    background-color: var(--main-color);
}

.service-skill {
    font-size: 15px;
    font-family: Poppins;
   
    font-weight: 800;
    

    color: var(--txt-principal);
   
}

.cards-service-all {
    color: var(--txt-principal);
    display: flex;
    gap: 2rem;
    font-family: poppins;

}

.card-service {
    background: rgba(0, 0, 0, 0.185);
    display: flex;
    flex-direction: column;
    gap: 10px;

    cursor: default;
    
    border-top: 1px solid rgba(255, 255, 255, 0.515);

    height: 280px;
    width: 250px;
    padding: 50px 20px;
    border-radius: 25px;

    transition: transform 0.3s;
}

.card-service:hover {

    /* box-shadow: 0px 12px 0px rgba(0, 0, 0, 0.374); */
    /* background: linear-gradient(45deg, #380c4c,#380c4c, rgba(255, 255, 255, 0.168)); */
    /* box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.371); */  

    /* border: 2px solid var(--main-color); */
    border-top: 1px solid white;
    transform: scale(1.07);



    /* background: linear-gradient(45deg,rgba(0, 0, 0, 0.186),rgba(0, 0, 0, 0.186), rgba(255, 255, 255, 0.066), rgba(255, 255, 255, 0.378) ); */
    /* box-shadow: -5px 20px 40px rgba(0, 0, 0, 0.57); */

   
    /* background: linear-gradient(45deg, rgba(0, 0, 0, 0.374), transparent, transparent, rgba(255, 255, 255, 0.062)); */
}


.card-txt {
    color: var(--txt-principal);
    font-size: 12px;
    font-weight: 200;
    font-family: "Poppins";
    color: var(--main-color);
}


.card-icon {
    color: var(--main-color);
    font-size: 10000px;
    width: 180px;
    size: 180px;

    margin-bottom: 20px;

}

/* SKILL */

.skill-icons-wrapper {
    margin-top: 4rem;
    /* gap: 2rem; */
    display: flex;
    flex-direction: column;
    
    /* align-items: center; */
    justify-content: center;
}

.skill-txt{
    margin-bottom: 5px;
    /* display: flex; */
    text-transform: uppercase;



    letter-spacing: 3px;
    /* z-index: 100; */
}

.skill-txt > span {
    /* margin-top: 2rem; */
    font-size: 25px;
    margin-left: 20px;

    text-align: right;
    font-weight: 400;

}


.skill-icons {
    gap: 9px;
    display: flex;
    /* display: inline-block; */
    padding: 1rem;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.21);
    border-bottom: 1px solid var(--main-color);
    /* background: rgba(0, 0, 0, 0.074); */

    
}

.skill-icons img{
    transition: all 0.2s;
}

.skill-icons i{
    transition: all 0.1s;
}

.skill-icons i:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-out;
}



.skill-icons img:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-out;
}


/* /SKILL */

/* /SECTION SERVICES */


/* SECTION PROJECTS */

.division {
   margin: 4rem 0;
   background: rgba(0, 0, 0, 0.175);
   height: 3px;

   border-radius: 25px;
}


/* .purple-star-6 {
    position: absolute;
    width: 400px;
    height: 400px;

    animation: float 5s infinite;

    left: 800px;
    top: -95px;
} */

.project-all {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* gap: 8rem; */
}


.project-title {
   font-weight: 700;

   font-family: 'Montserrat';
   font-size: 50px;

   color: var(--main-color);
   /* text-transform: uppercase; */
   letter-spacing: 2px;

   display: flex;
   justify-content: center;
   margin-top: 3rem;
   text-shadow: 6px 1px 1px rgb(0, 0, 0);
   animation: float 3s infinite;

   z-index: 100;
}

.project-title::after {
   content: "";
   position: absolute;
   box-shadow: 6px 1px 1px rgb(0, 0, 0);

   top: 65px;
   bottom: 0px;
   right: 530px;
   left: 530px;
   
   height: 4px; /* Altura da borda */
   border-radius: 30px;
   background-color: var(--main-color);
}

.bg-project {
   z-index: 1;
   background: url(../assets/bg-projects-4.jpg);

   /* background-size: 1550px; */
   background-size: cover;
  
   /* background-size: 1300px; */
 
   height: 1700px;
   padding: 1rem 10rem;
}

/* .project-title::after {
    content: "";
    position: absolute;


    top: 47px;
    bottom: 0px;
    right: 550px;
    left: 550px;
    
    height: 4px; /* Altura da borda */
    /* border-radius: 30px;
    background-color: var(--main-color); */
/* } */




.card-project-wrapper {
    /* margin-bottom: 6rem; */

   position: relative;

   align-items: center;
   display: flex;
   gap: 3rem;
   justify-content: center;
   perspective: 900px;

   margin-left: 1rem;


   /* margin-left: 2rem; */
}

#netflix-card {
   margin-left: 5rem;
}


.card-project {
   z-index: 1;
    
   background: url(../assets/netflix-bg.png);
   background-size: 290px 250px;
   background-repeat: no-repeat;
   background-position: center;

   width: 290px;
   height: 250px;

   cursor: pointer;

   transform: rotateY(30deg);
   transition: all 0.3s;


   display: flex;

   box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.71);
   border-radius: 10px;
   opacity: 90%;


}

.card-project:hover {
   transform: rotateY(0deg) scale(1.15) translateY(-7px);
   box-shadow: 0 20px 40px rgba(0, 0, 0, 0.289);
   opacity: 100%;

   width: 290px;
   height: 249px;


   /* background-size: 400px 250px; */
}

.card-project:hover + .txt-project-all {
   z-index: 100;

}

.card-project:hover + .container-txt {
   z-index: -1;
   border-right: 1px solid rgba(0, 0, 0, 0.182);
   border-bottom: 1px solid rgba(0, 0, 0, 0.182);

   margin-right: -1rem;
 
}


.project-all {
   margin-top: 3rem;

   display: flex;
   flex-direction: column;
   justify-content: center;

   margin-left: 1.5rem;

   /* position: relative; */
}

.txt-project-all {
   z-index: 100; 

   display: flex;
   gap: 1rem;
   flex-direction: column;

   transition: all 0.5s;
}

.container-txt {
   z-index: -1;

   background:linear-gradient(to top left, transparent, rgba(0, 0, 0, 0.035));

   /* background: red; */
   /* padding: 20px; */

  padding: 1rem;
   backdrop-filter: blur(3px);
   border-radius: 30px;

   transition: all 0.3s;
}


.txt-project-title {
   font-weight: 700;
   /* text-transform: uppercase; */
   text-transform: capitalize;
   letter-spacing: -px;
   z-index: 100;

   font-family: 'Montserrat';
   /* font-family: inter; */

   font-size: 40px;

   /* color: #2d0e48; */
   color: white;

   transition: all .3s;
   /* color: var(--txt-principal); */
/* color: var(--secondy-main-color); */
/* color: var(--main-color); */
}

.txt-project-title::after {
   content: "";
   position: absolute;
   z-index: -1;

   height: 35px;
   width: 300px;
   left: 10px;
   top: 23px;

   /* background: #c6f91f50; */
   background: red;
   border-radius: 20px;
}

.txt-project-txt {

   white-space: now;
   color: #241235;
   /* color: #8cae1d; */


   line-height: 1.6;
   font-size: 14px;
   z-index: 100;
   /* font-family: "Montserrat"; */

   font-family: "Inter";
   font-weight: 500;
}


.tec-icon {
   position: relative;
   z-index: 100;
}

.tec-icon img {
   transition: all 0.3s;
}

.tec-icon img:hover {
   transform: scale(1.2);
}


.tec-icon::after {
   content: "";
   position: absolute;
   z-index: -1;

   height: 35px;
   width: 240px;
   left: -4px;
   top: 3px;

   /* background: rgba(0, 0, 0, 0.153); */
   background: #c6f91f50;
   border-radius: 20px;
}


.btn-project-wrapper {
   display: flex;
   gap: 1rem;

}

.btn-project-view {
   background: var(--main-color);
   color: var(--secondy-main-color);
   font-family: "Poppins";
   /* font-family: inter; */
   font-weight: 600;

   border: 1px solid var(--secondy-main-color);
   border-radius: 15px;

   width: 150px;
   height: 50px;

   cursor: pointer;

   transition: all 0.3s;

   /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.204); */
   box-shadow: 5px 3px 0px 2px;

}

.btn-project-view:hover {
   transform: scale(1.05);

}


.btn-project-github {
   cursor: pointer;
   font-weight: 700;
   font-family: poppins;

   background: transparent;
   border: 1px solid var(--secondy-main-color);
   border-radius: 15px;

   color: var(--secondy-main-color);

   width: 150px;
   height: 50px;

   transition: all 0.3s;

   display: flex;
   align-items: center;
   justify-content: center;

   gap: 5px;

   /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.111); */
   box-shadow: 5px 3px 0px 2px;


}

.bxa {
   font-size: 22px;
  
}


.btn-project-github:hover {
   background: var(--secondy-main-color);
   color: var(--main-color);
   /* box-shadow: 5px 3px 0px 2px var; */
   
   /* color: white; */

   transform: scale(1.05);

}

/* CARD 2 */


#card-two {
   background: url(../assets/slack-bg.png);
   background-size: cover;


}


#card-two:hover {
   transform: rotateY(0deg) scale(1.15) translateY(-7px);
   box-shadow: 0 20px 40px rgba(0, 0, 0, 0.289);
   opacity: 100%;

   width: 290px;
   height: 249px;

}

#txt-all-two {

}


#title-two::after {
   width: 25rem;

   background: #60345c;

}

#tec-icon-two::after {
   top: 6px;
   width: 280px;

}


/* /CARD 2 */

#card-three {
   background: url(../assets/taskify-bg.png);
   background-size: cover;

   margin-left: 2rem;
}

#title-three {
   width: 25rem;
   
}

#title-three::after {
   width: 200px;

   background: rgb(89, 0, 255);
}

#tec-icon-three::after {
   top: 5px;
}

/* /SECTION PROJECTS */

/* CONTACT ME */

.bg-contact-me {
   position: relative;

   background: url(../assets/bg-contact-me.jpg);
   background-size: cover;

   height: 850px;
   /* padding: 45vh; */

   display: flex;
   justify-content: center;
   /* align-items: center; */

   font-family: "Inter";
}

#contact {
   position: absolute;
   top: -150px;

   font-size: 60px;
}

.container-form {
   margin-top: 1rem;
   background: white;

   /* height: 90%; */
   /* width: 70%; */

   height: 750px;
   width: 1000px;
   border-radius: 30px;

   /* padding: 1rem; */

   display: flex;
   justify-content: center;
   align-items: center;

   box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.200);

}


.form-contact {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;

   gap: 5rem;
}

.header-form {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.header-form > h2 {
   font-size: 58px;
   font-family: "Inter";
   font-weight: 700;

   color: var(--secondy-main-color);
   /* color: var(--sec-main-color-bright); */

}

.header-form > span {
   font-family: "Inter";
   font-size: 20px;

   color: #241235;

}

.name-email-wrapper {
   display: flex;
   justify-content: center;
   gap: 3rem;
}

.name-contact {
   display: flex;
   flex-direction: column;
   color: var(--txt-secondary);

   font-size: 14px;
   text-transform: capitalize;
   text-align: left;
}

.name-contact > input {
   padding: 10px 0;
   margin-top: 10px;
   width: 300px;
   font-size: 16px;

   outline: none;
   border: none;
   border-bottom: 2px solid rgb(204, 201, 201);
}

.input-field {
   transition: all 0.3s;
}

.textarea:focus {
   border-color: var(--sec-main-color-bright);


}

.input-field:focus {
   border-color: var(--sec-main-color-bright);
 }

.email-contact {
   display: flex;
   flex-direction: column;
   color: var(--txt-secondary);

   font-size: 14px;
   text-transform: capitalize;
   text-align: left;
}

.email-contact > input {
   padding: 10px 0;
   margin-top: 10px;
   width: 300px;
   font-size: 16px;

   outline: none;
   border: none;
   border-bottom: 2px solid rgb(204, 201, 201);
}

.message-wrapper {
   display: flex;
   justify-content: center;
   flex-direction: column;
   
   
   margin-top: 4rem;
   color: var(--txt-secondary);

   font-size: 14px;
   text-transform: capitalize;
   text-align: left;
}

.message-wrapper > textarea {
   font-family: "Inter";
   overflow-y: scroll;   

   padding: 10px 0;
   margin-top: 10px;
   width: 655px;
   font-size: 16px;

   border: none;
   outline: none;
   border-bottom: 2px solid rgb(204, 201, 201);
}

textarea::-webkit-scrollbar {
   cursor: pointer;
}

.btn-send {
   /* padding: 1.2em 6em;
   background: none;
   border: 2px solid #fff;
   font-size: 15px;
   text-transform: uppercase;
   letter-spacing: 2px;

   position: relative;

   color: white;

   cursor: pointer;
   overflow: hidden;
   transition: all 0.3s;
   border-radius: 12px;
   background: var(--secondy-main-color);
   font-weight: bolder;
   box-shadow: 10px 2px 0 2px var(--main-color); */


   /* display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px; */
}

/* .btn-send:hover {
   background: var(--main-color);
   color: var(--secondy-main-color);
   box-shadow: 5px 2px 0 2px var(--secondy-main-color);
} */

.btn-send {
   width: 15rem;
   height: 4rem;

   font-size: 16px;
   text-transform: uppercase;
   letter-spacing: 2px;
   display: inline-block;
   font-weight: 600;
   overflow: hidden;
   cursor: pointer;

   z-index: 1;
   background: var(--main-color);
   color: var(--secondy-main-color);
   border: 2px solid var(--secondy-main-color);
   border-radius: 15px;

   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;

   transition: all 0.3s;
   box-shadow: 5px 3px 0px 2px;


}

.btn-send:active {
   transform: scale(0.85);
}

.btn-send > .material-symbols-outlined {
   position: absolute;
   font-size: 30px;
   left: 145px;
   animation: slidein 2.5s infinite;
}

.btn-send:hover .material-symbols-outlined {
   position: absolute;
   left: 145px;
   color: var(--main-color);

   transition: all 0.3s;
   animation: slidein 2.5s infinite;
   font-size: 40px;
}
 
.btn-send::before {
   position: absolute;
   content: "";
   background: var(--secondy-main-color);
   width: 350px;
   height: 400px;

   z-index: -1;
   border-radius: 20%;

}

.btn-send:hover > button {
}

.btn-send:hover {
   box-shadow: 5px 3px 0px 2px #241235;
   border: 2px solid var(--secondy-main-color);
   color: white;
  /* transform: scale(1.05); */
}
 
.btn-send:before {
   top: 100%;
   left: 100%;
   transition: 0.6s all;
}
 
.btn-send:hover::before {
   top: -30px;
   left: -30px;
}

.btn-send-wrapper {
   margin-top: 3rem;

   display: flex;
   justify-content: center;
   align-items: center;
}

/* .btn-send {
   cursor: pointer;

   background: transparent;
   border: 2px solid var(--secondy-main-color);
   border-radius: 25px;

   margin-top: 3rem;
   height: 60px;
   width: 250px;

   text-transform: uppercase;
   letter-spacing: 2px;


   transition: all 0.3s;

   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1px;
   
} */

/* .btn-send:hover .material-symbols-outlined {
   color: white;
}

.btn-send > .material-symbols-outlined {
   color: white;
   transition: all 0.2s;
} */

/* .btn-send:hover {
   background: var(--secondy-main-color);
   color: white;
   transform: translateY(-5px);
} */

/* .btn-send:hover .material-symbols-outlined {
   color: white;
   font-size: 30px;
   margin-left: 5px;
} */

.btn-send > span {
}

/* /CONTACT ME */

/* FOOTER */

.division-footer {
   margin: 5rem 0;
   border: none;
   border: 1px solid white;

   border-color: var(--secondy-main-color);
}

.footer-container {
   display: flex;

   font-family: "Inter";
   font-weight: 500;

   /* gap: 25rem; */
   /* justify-content: space-around; */
   justify-content: center;
   gap: 25rem;
}

.footer-column {
   display: flex;
   flex-direction: column;
   line-height: 1.6;

}

.footer-column-sections > ul {
   line-height: 2;
}

.social-icons {
   display: flex;
   flex-direction: column;
   font-size: 30px;
   
}

footer {
   padding: 7rem 10rem;
   font-size: 20px;
   background: var(--main-color);
   color: var(--secondy-main-color);
}

.footer-bottom {
   display: flex;
   align-items: center;
   
   justify-content: space-between;

}







/* /FOOTER */


@keyframes slidein {
   0% {
      margin-left: 0px;
   }
   50% {
      margin-left: 15px;
   }
   100% {
      margin-left: 0;
   }
}